.title {
  text-align: center;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.product-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.product-item {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.product {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.product-name,
.product-rayon,
.product-status {
  width: 33%;
  text-align: center;
}
